<div class="starter-template">
	<div class="col-sm-12">
		<div class="row">
			<button type="button" class="btn btn-primary" ng-click="gerarPDF()">
				<em class="glyphicon glyphicon-file"></em>&nbsp;&nbsp;Gerar PDF
			</button>
		</div>
		<br />	
		<table class="table table-bordered table-condensed" ng-repeat="obj in bois">						
			<thead>
				<tr>
					<th class="text-center">Brinco</th>
					<th ng-repeat="pesos in obj.pesos" class="text-center">
						{{pesos.data}}
					</th>										
					<th class="text-center">Total</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{obj.brinco}}</td>					
					<td ng-repeat="pesos in obj.pesos">{{pesos.peso}}</td>					
					<td>{{evolucao(obj.pesos[0].peso, obj.pesos[obj.pesos.length - 1].peso)}}</td>
				</tr>
			</tbody>
		</table>		
	</div>	
</div>